@font-face {
    font-family: "Arvo Regular";
    src: url("Fonts/ARVO-REGULAR.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: #B83B5E;
    background-repeat: no-repeat;
    margin: 0; /* Ensures the gradient hits the edges */
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.card{
    background: rgba(255, 255, 255, 0.1); /* Transparent white */
    backdrop-filter: blur(10px);          /* The "frosted" part */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    height: 27rem;
    width: 48rem;
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: translateY(-10px);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-right: 4.8rem;
}



.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 15px 40px;            
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);  
    position: fixed;               
    top: 20px;
    left: 50%;
    transform: translateX(-50%); /* Centers the fixed bar */
    width: 85vw;
    z-index: 1000;                 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 100px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    animation: FadeIn 0.5s ease-in-out;
}

.logo{
    font-family: 'Arvo Regular', serif; 
    font-size: 24px;
    font-weight: 800;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 4px;
}

.main-calc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.calc{
    background: #FFFFFF;         /* The "frosted" part */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    height: 30rem;
    width: 30rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.v-rule {
    width: 1px;
    height: 80vh; /* Makes it slightly shorter than the container for a cleaner look */
    background: rgba(0, 0, 0, 0.2);
    margin: 0 2px; /* Adds space on the left and right */
    align-self: center; /* Centers it vertically if using Flexbox */
}

